/generated_cpp
Makefile
Makefile.Debug
Makefile.Release
*.log
*.tmp
/generator/generator
/generator/release
/qtbindings/*/debug/
/qtbindings/*/release/
/qtbindings/Makefile
/qtbindings/*/Makefile
/qtbindings/*/Makefile.Debug
/qtbindings/*/Makefile.Release
/plugins
