/doc/*.html
/generated_cpp
Makefile
Makefile.Debug
Makefile.Release
*.o
*.log
*.tmp
/generator/generator
/generator/release
/qtbindings/*/debug/
/qtbindings/*/release/
/qtbindings/Makefile
/qtbindings/*/Makefile
/qtbindings/*/Makefile.Debug
/qtbindings/*/Makefile.Release
qtbindings/qs_eval/qs_eval
/plugins
*.pro.user
